</main>
<footer class="main-footer">
    <div class="container">
        <p>&copy; <%= new Date().getFullYear() %> JiffyCV. All rights reserved.</p>
    </div>
</footer>
<script src="/js/form-handler.js"></script>
<script src="/js/preview.js"></script>
</body>
</html>